$header-color: #ffffff;
$text-color: #414c63;
$links-color: #4b6fd7;
$border-color: #5a5653;
$focus-color: #30bbac;
$error-color: #ff290e;

$bp-desktop-hd: 1800px;
$bp-desktop: 1200px;
$bp-tablets: 768px;
$bp-phones: 480px;
$bp-smallphones: 320px;
